%p 1
-# = current_user.current_tenant
%p 2
= current_tenant
%p 3
= current_user.tenant_id

%link{:rel => :stylesheet, :type => :"text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"}

%table#prices-table{"data-source" => prices_path(format: :json), :class => "table table-striped table-bordered", :cellspacing => "0", :width => "100%"}
%thead
  %tr
    %th Brand
    %th SKU
    -# %th Title
    %th Average Price
    %th Current Price
%tbody

-# TODO: Change all of Price. to @price. and add to controller (so only seeing Tenant's data)

-# http://chartkick.com/ for documentation, the paths are to use AJAX
= line_chart dashboard_three_line_path

= column_chart dashboard_brand_column_path

= line_chart dashboard_scrape_count_path

= line_chart dashboard_price_popup_path('RP84382RB'), width: "210px", height: "90px"

%table{:style => "width:100%", :class => "dashboard"}
  %tr
    %th Brand
    %th SKU
    %th Title
    %th Price
  - BuildFinish.distinct(:sku).limit(10).each do |b|
    %tr
      %td= b.manufacturer
      %td.sku
        %a
          .popup_chart= line_chart dashboard_price_popup_path(b.sku), width: "420px", height: "180px"
          = b.sku
      %td= link_to b.title, 'https://www.build.com' + b.productLink, target: :_blank
      %td= number_to_currency(b.price)
