-# TODO: Change all of Price. to @price. and add to controller (so only seeing Tenant's data)

-# http://chartkick.com/ for documentation, the paths are to use AJAX
= line_chart dashboard_three_line_path

= column_chart dashboard_brand_column_path

= line_chart dashboard_scrape_count_path

%table{:style => "width:100%", :class => "dashboard"}
  %tr
    %th Brand
    %th SKU
    %th Title
    %th Price
  - BuildFinish.distinct(:sku).limit(10).each do |b|
    %tr
      %td= b.manufacturer
      %td.sku
        %a
          %img{:src => "http://via.placeholder.com/210x90/e8117f/000000"}
          = b.sku
      %td= link_to b.title, 'https://www.build.com' + b.productLink, target: :_blank
      %td= number_to_currency(b.price)
